<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <% %> -->
    <% let  selected = form.selectedSkill %>
    <% for(let formValues in form) { %>
         <% if( typeof form[formValues]  != 'object' && formValues != "selectedSkill") { %>
              <label><%= formValues %></label> 
             <input value=<%= form[formValues]%>  type='text' />
             <% } else if(typeof form[formValues]  == 'object') {%>
                <select>
                    <%for(let val of form[formValues]){  %>
                        <% if(val == selected){%>
                            <option selected value=<%= val %>  ><%= val %></option> %>
                            <% }else{%>
                            <option selected value=<%= val %>  ><%= val %></option> %>
                            <% }%>
                    <% } %>
                </select>
            <%} %>  
                
    <%}%>
    

</body>
</html>